			<div class="col-md-10 col-sm-9 col-xs-5 main-content">
				<div class="top-bar form-inline">
                    <div class="col-md-12 col-sm-12 col-xs-12 main-content-right form-group form-inline search-bar">
                        <div class="col-md-11 col-sm-11 col-xs-11">
                            <div class="form-group form-inline">
                                <input type="search" name="search" id="keyWord" placeholder="Recherche:">
                            </div>
                        </div>

                        <!-- SEARCH BUTTON (SUBMIT) !-->
                        <!--<div class="col-md-1 col-sm-1 col-xs-1 justify-content-end">
                            <div class="widget widget-btn">
                                <button class="btn btn-dark search-button" type="button" id="SearchButton" name="form_search">
                                   <i class="fa fa-search"></i> Recherche
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>-->
                    </div>
                    
                    <div class="col-md-12" style="position: relative;">
                    	<div id="topics">

								<!--<a>
									<li class="question-item">
										<table class="table table-borderless">
											<tbody>
												<tr class="row">
													<td class="col-3 question-state question-title">
														<i class="fas fa-comment-alt"></i>
														<br/>
														<button type="button" class="btn btn-outline-primary">Open</button>
													</td>
				                                    <td class="col-7 question-title">
				                                    	<a href="#"> Title here </a>

				                                    	 <span class="question-category badge badge-info"><i class="fas fa-plus"></i> Maths</span>

				                                    	 <div class="question-author">
				                                            <i class="fa fa-user"></i> Posted by
				                                            <span>Bruno Loverius</span>
				                                        </div>

				                                        <div class="question-details">
				                                            <i class="fas fa-calendar-alt"></i> Asked on
				                                            <span>29/07/1995</span>
				                                            <div class="last-answer">Last answer : Bruno Loverius</div>
				                                        </div>


			                                    	</td>
			                                    	<td class=" justify-content-end question-statistics" style="position: absolute; right: 0px;">

				                                        
				                                        <div class="question-views">
				                                            <span>37</span><br>
				                                            <i class="far fa-eye"></i>
				                                        </div>

				                                        
				                                        <div class="question-answers">
				                                            <span>3</span><br>
				                                            <i class="far fa-comment-alt"></i>
				                                        </div>
				                                    </td>

												</tr>
											</tbody>
										</table>
									</li>
								</a>

							</ul>-->
						</div>
                	</div>
	            </div>
        	</div>
        	<!-- Closing of the two dives of the leftMenu.html page -->
		</div>
	</div>